<div class="page-header">
<h1>Welcome To Fake Instagram!</h1></div>

<div id="flash">
  <% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>

<div class="media">
  <%= comment_index = 0%>
  <% @posts.each do |post| %>
    <div class="media-left">
      <!-- Renders image -->
      <%= link_to image_tag(post.image.url, class: 'media-object'), post.image.url, target: '_blank' %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= post.title %></h4>
    </div>
    <form action = "comments/new" method = "post">
      <label for = "comments">Enter your comment Here</label>
      <input type = "text" name = "comments id = "comment_<%=comment_index+=1 %>"></input>
      <input type = "submit">
    </form>
  <% end %>
</div> 